# Python nivel I: tipos básicos de datos y sus operaciones

## Introducción
Para empezar, vamos a decir que Python es un lenguaje de propósito general, por lo que sirve para gran tipo de ocasiones.
Aunque todavía es pronto para eso, diremos que Python es un lenguaje interpretado y que soporta programación orientad a objetos. Esto significa que podemos definir un objeto, sus propiedades y su comportamiento y utilizarlos, pero esto ya se verá más adelante. 

De momento vamos con lo básico.

## La sintaxis

Lo primero para escribir en lenguaje Python es saber leerlo y diferenciar los diferentes tipos de cosas. Esto se explicará más adelante, pero vamos a avanzar un poco.

Lo primero que podemos leer es una asignación (como se vió en el contenido anterior y las cajas de memoria). Esto significa que estamos asignando un valor a una variable, por ejemmplo:
```python
x = 16
```

Esto significa que lo que sea que esté a la derecha del igual se asigna o "guarda" en la variable de la izquierda. De esta forma, podemos utilizar las variables para hacer operaciones. Si recordamos que el código se ejecuta de arriba a abajo, podemos ver el siguiente ejemplo:

```python
x = 16
y = 1
z = x + y
```

Al final, el valor de "z" será 17.

## Tipos básicos de datos
En todos los lenguajes de programación existen unos tipos de datos (o valores) básicos comunes.
Estos tipos de datos básicos y cómo se llaman en python son:
- Números enteros: integer (int)
- Numeros decimales: float (float)
- Cadenas de texto: string (str)
- Valores booleanos (True/False): boolean (bool)

A continuación se ven algunos ejemplos de cada tipo.
Siempre que se programa hay que tener en cuenta dos cosas:
- Se suele hacer en inglés
- Las variables tienen que ser claras con el contenido, como se verá en los ejemplos.

```python
age = 27
height = 1.8
name = 'Eduardo'
married = False
```

Para imprimir el valor de una variable por pantalla, se puede utilizar la función "print". Aunque sea un adelanto, las funciones se llamán así:

```python
print(age)
```

Y para saber de qué tipo es una variable, con la siguiente función:

```python
type(age)
```

In [43]:
# Un ejemplo de código
age = 27
print(age)
type(age)

27

int

## Operaciones
Las operaciones que se pueden realizar sobre estos tipos de datos son las siguentes. Cuando son números, las operaciones son tal cual, pero cuando son sobre cadenas o valores booleanos funcionan de forma diferente.
- Comparación:
- Suma:
- Resta:
- Multiplicación

### Operaciones con enteros

A continuación se ven algunos ejemplos de operaciones con enteros. Vamos a aprovechar a aprender a imprimir cosillas simples por pantalla con "print()".
Algunas operaciones resultarán en un número decimal, por ejemplo las divisiones.

In [44]:
x = 1
y = 2
z = 6

summatory = x + y + 1
difference = x - z + 1
product = x * y
division = z / y

print('x + y + 1 = ', summatory)
print('x - z + 1 = ', difference)
print('x * y = ', product)
print('z / y = ', division)

x + y + 1 =  4
x - z + 1 =  -4
x * y =  2
z / y =  3.0

#### Ejercicio 0: Escribe algunas operaciones de ejemplo e imprime sus resultados

In [45]:
x = 12
y = 9
z = -1

# Escribir aqui:

### Operaciones con decimales

A continuación se ven algunos ejemplos de operaciones con decimales.

In [46]:
x = 12.123
y = 9.3
z = -1.35

summatory = x + y + 1
difference = x - z + 1
product = x * y
division = z / y

print('x + y + 1 = ', summatory)
print('x - z + 1 = ', difference)
print('x * y = ', product)
print('z / y = ', division)

x + y + 1 =  22.423000000000002
x - z + 1 =  14.472999999999999
x * y =  112.7439
z / y =  -0.14516129032258066

#### Ejercicio 1: Escribe algunas operaciones de ejemplo e imprime sus resultados

In [47]:
x = 12.123
y = 9.3
z = -1.35

# Escribir aqui:

### Operaciones con cadenas de texto

A continuación se ven algunos ejemplos de operaciones con cadenas de texto.

In [48]:
name = 'John'
surname = 'Doe'

complet_name = name + ' ' + surname
name_twice = name * 2

print(complet_name)
print(name_twice)

John Doe
JohnJohn

#### Ejercicio 2: Escribe algunas operaciones de ejemplo e imprime sus resultados

In [49]:
name = ''
surname = ''

# Escribir aqui:

### Operaciones con booleanos

A continuación se ven algunos ejemplos de operaciones con booleanos.
Cuando se utilizan operaciones +, -, *, / los booleanos se comportan como 1 o 0 para True y False.

In [50]:
x = True
y = False

x_or_y = x or y
x_and_y = x and y

print(x_or_y)
print(x_and_y)

True
False

#### Ejercicio 3: Escribe algunas operaciones de ejemplo e imprime sus resultados

In [51]:
x = True
y = False

# Escribir aqui:

## Conversión entre tipos
Para convertir de un tipo de datos a otro se utilizan las siguientes funciones:
- convertir a entero (integer): int()
- convertir a decimal (float): float()
- convertir a cadena de texto (string): str()
- convertir a booleano (bool): bool()

No todos los valores se pueden convertir de un tipo a otro. Aquí entra el sentido común: ¿Cómo se convierte un nombre en un número?, por ejemplo.

In [52]:
# Podemos ver unos ejemplos con las siguientes variables:
age = 27
height = 1.8
name = 'Eduardo'
married = False

print('using int():')
print(int(height))
print(int(married))

print('using float():')
print(float(age))
print(float(married))

print('using str():')
print(str(age))
print(str(height))
print(str(married))

print('using bool():')
print(bool(age))
print(bool(height))
print(bool(name))

using int():
1
0
using float():
27.0
0.0
using str():
27
1.8
False
using bool():
True
True
True

#### Ejercicio 4: Escribe algunas operaciones de ejemplo e imprime sus resultados

In [53]:
age = 27
height = 1.8
name = 'Eduardo'
married = False

#Escribir aquí:

# Soluciones

## Ejercicio 0: Escribe algunas operaciones de ejemplo e imprime sus resultados

In [54]:
# Una solución para el problema puede ser: 

x = 12
y = 9
z = -1

summatory = x + y + z
difference = x - z
product = x * y * z
division = z / y / z

print('x + y + 1 = ', summatory)
print('x - z + 1 = ', difference)
print('x * y = ', product)
print('z / y = ', division)

x + y + 1 =  20
x - z + 1 =  13
x * y =  -108
z / y =  0.1111111111111111

## Ejercicio 1: Escribe algunas operaciones de ejemplo e imprime sus resultados

In [55]:
# Una solución para el problema puede ser: 

x = 12.123
y = 9.3
z = -1.35

summatory = x + y + z
difference = x - z
product = x * y * z
division = z / y / z

print('x + y + 1 = ', summatory)
print('x - z + 1 = ', difference)
print('x * y = ', product)
print('z / y = ', division)

x + y + 1 =  20.073
x - z + 1 =  13.472999999999999
x * y =  -152.204265
z / y =  0.10752688172043011

## Ejercicio 2: Escribe algunas operaciones de ejemplo e imprime sus resultados

In [56]:
name = 'Peter'
surname = 'Parker'

complet_name = name + ' ' + surname

print('My name is ' + complet_name)

My name is Peter Parker

## Ejercicio 3: Escribe algunas operaciones de ejemplo e imprime sus resultados

In [57]:
x = True
y = False

print(x and y)
print(x or y)
print(x + y)
print(x * y)

False
True
1
0

## Ejercicio 4: Escribe algunas operaciones de ejemplo e imprime sus resultados

In [58]:
print(int(height))
print(float(age))
print(str(height))
print(bool(age))

1
27.0
1.8
True